.menu-wrap {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.menu {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
}

.menu__item {
    flex: 1;
    position: relative;
    overflow: hidden;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.menu__item:first-child {
    border-top: none;
}

.menu__item-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    font-weight: 600;
    font-size: 6vh;
    transition: all 0.3s ease;
}

.menu__item-link:hover {
    color: inherit;
}

.menu__item-link:focus:not(:focus-visible) {
    color: inherit;
}

.marquee {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transform: translate3d(0, 101%, 0);
    background: white;
    /* Fallback */
}

.marquee__inner-wrap {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.marquee__inner {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    width: fit-content;
    will-change: transform;
}

.marquee__part {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.marquee span {
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 6vh;
    line-height: 1;
    padding: 0 1vw;
    font-style: italic;
}

.marquee__img {
    width: 200px;
    height: 10vh;
    margin: 0 2vw;
    border-radius: 50px;
    background-size: cover;
    background-position: center;
}